body {
    background-color: rgb(241, 241, 241);
}
.btn-outline-success {
  border-color: black;
  color: black;
}
.btn-outline-success:hover {
  background-color: purple;
}
.heading {
  background-image: url(https://imgur.com/vkAH3Kq.jpg);
  background-position-x: right;
  height: 6.5cm;
}
.heading h1 {
  text-align: center;
}
.all-cards {
  float: none;
  margin-left: 1in;
}
.card {
  display: inline-block;
  margin-top: 2cm;
}
